@model IEnumerable<PetShop.Models.Category>

@{
    ViewBag.Title = "Trash";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-uppercase text-danger">Thùng rác loại sản phẩm</strong>
            </div>
            <div class="col-md-6 text-end">
                <a href="@Url.Action("Index", "Category")" class="btn btn-sm btn-success">
                    <i class="fa fa-backspace"></i>Quay lại
                </a>
            </div>
        </div>
    </div>
    <div class="card-body py-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:50px;" class="text-center">Id</th>
                    <th>Tên loại sản phẩm</th>
                    <th style="width:350px">Liên kết</th>
                    <th style="width:250px;" class="text-center">Chức năng</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a href="~/san-pham/@item.Slug">@item.Slug</a>
                        </td>
                        <td class="text-center">

                            <a href="@Url.Action("ReTrash", "Category", new {@id = item.Id})" class="btn btn-sm btn-info">
                                <i class="fa fa-trash-restore"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Category", new {@id = item.Id})" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

